{% extends 'base.html.twig' %}

{% block body%}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <h2 class="navbar-brand" href="/"><img src="#" style="height:50px; font-weight:800;color:#f33f3f;width:auto" alt="AFRICASTOCK" ></h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    
      <div class="input-group col-4">
        <input type="text" class="form-control" placeholder="Rechercher un article">
        <div class="input-group-append">
          <button class="btn btn-danger" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
        <ul class="navbar-nav ml-auto"></ul>
      {% if not app.user %}
       <a  href="/login" id="identifie"  class="btn btn-danger btn-md " style:"margin-rigth:10px" role="button" aria-pressed="true">S'identifier</a>

      {% else %}
      <li class="nav-item">
        <a class="nav-link nav-color" href="/logout">Deconnexion</a>
      <li class="nav-item ">
        <a class="nav-item " data-toggle="tooltip" title="{{app.user.username}}" data-placement="top" href="#"><i
            class="fas fa-user"></i></a>
      </li>

      </li>

      {% endif %}


   
        <a class="btn btn-danger btn-md" data-toggle="tooltip" title="Panier" data-placement="top" href="/panier"> <i
            class="fas fa-shopping-bag"> Panier</i></a>
     
     
   


</nav>
<br>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      
        <div class="product-item">
        <img class="card-img-top" src="/assets/uploads/images/{{article_img.filename}}" alt="Card image cap">
        <div class="card-body">
          <div class="down-content">
          <h5 class="card-title">{{article_img.titre}}</h5>
          <h6>FCFA {{ article_img.prix }}</h6>
          <p class="card-text">{{article_img.description}}</p>
          <p class="card-text"><small class="text-muted">Mis en ligne {{ article_img.dateDeCreation ? article_img.dateDeCreation|date('Y-m-d H:i:s') : '' }}</small></p>
          <ul class="stars">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
        </div>
      </div>
    </div>
  

    </div>
    <div class="col-1"></div>
    <div class="col-5" style="background-color: rgb(246, 245, 245); border-radius: 5px;">
      <div>
        <br>

        <h4 style="margin-left:20%;"> PASCALE/ {{article_img.Titre}}</h4>
        <hr>
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-2">
            <button type="submit" class="btn btn-danger"> <i class="fas fa-thumbs-up"></i> Like</button>
          </div>

          <div class="col-lg-2">
            <button type="submit" class="btn btn-danger"><i class="fas fa-heart"></i> Suivre </button>
          </div>
          <div class="col-lg-2">
            <button type="submit" class="btn btn-danger"> <i class="fas fa-share-alt"></i> Partager</button><i class="fas fa-arrow-circle-down"></i>
          </div>
        </div>

        <hr>
        
          <a href="{{asset('assets/images/logo.png')}}" download="images" > <button> Télécharger  </button>
             </a>

         <!-- <div class="dropdown-menu" style="background-color:brown; margin-left:20px; widht: 90%;">
            <div class="dropdown" > 
             <!-- <div class="col-md-1">
                <div class="form-check">
                  
                  <div class="row">
                    <div class="col-md-1">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1">
                    </div>
                    <div class="col-md-6">
                      <label class="form-check-label" for="exampleRadios1">
                        640 X 640 jpg
                      </label>
                    </div>

                  </div>


                </div>
                <a class="dropdown-item">
                  <div class="form-check">
                    <div class="row">
                      <div class="col-md-1">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                          value="option2">
                      </div>
                      <div class="col-md-6">
                        <label class="form-check-label" for="exampleRadios1">
                          1280 X 1280 jpg
                        </label>
                      </div>

                    </div>


                  </div>
                </a>
                <a class="dropdown-item">
                  <div class="form-check">
                    <div class="row">
                      <div class="col-md-1">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                          value="option3" checked>
                      </div>
                      <div class="col-md-6">
                        <label class="form-check-label" for="exampleRadios1">
                          2480 X 2480 jpg
                        </label>
                      </div>

                    </div>

                  </div>
                </a>
              </div>
          </div>
                  <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  
                  <label class="form-check-label"  style="color:white;margin-left:30px" for="exampleRadios1">
                    450px X 450px
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label"  style="color:white;margin-left:30px" for="exampleRadios1">
                    Default radio
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label"  style="color:white;margin-left:30px" for="exampleRadios1">
                    Default radio
                  </label>
                </div>
                </div>-->
      

        <hr>
        <h5 class="card-title" > Prix :{{article_img.prix}} FCFA </h5>
        <a href="{{path ('card_add',{'id':article_img.id})}}" class="panier-btn"> <i class="fas fa-plus"></i> Ajouter au panier</a>
          	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{asset('assets/images/more-info.jpg')}}" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
    <h1 style="font-size:5em">AFFICHEZ-VOUS</h1>
    <p>...</p>
  </div>
             
           
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{asset('assets/images/more-info.jpg')}}" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
    <h1 style="font-size:5em">AFFICHEZ-VOUS</h1>
    <p>...</p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{asset('assets/images/more-info.jpg')}}" alt="Third slide">
    <div class="carousel-caption d-none d-md-block">
    <h1 style="font-size:5em">AFFICHEZ-VOUS</h1>
    <p>...</p>
  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>

    </div>
  </div>
</div>
<br><br>


{% endblock %}