{% extends 'base.html.twig' %}

{% block title %}MediaStore!{% endblock %}

{% block body %}
<style>

          input {
          outline: none;
        }
        input[type=search] {
          -webkit-appearance: textfield;
          -webkit-box-sizing: content-box;
          font-family: inherit;
          font-size: 100%;
        }
        input::-webkit-search-decoration,
        input::-webkit-search-cancel-button {
          display: none; 
        }


        input[type=search] {
          background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
          border: solid 1px #ccc;
          padding: 9px 10px 9px 32px;
          width: 55px;
          
          -webkit-border-radius: 10em;
          -moz-border-radius: 10em;
          border-radius: 10em;
          
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          transition: all .5s;
        }
        input[type=search]:focus {
          width: 130px;
          background-color: #fff;
          border-color: #7ecc66;
          
          -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
          -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
          box-shadow: 0 0 5px rgba(109,207,246,.5);
        }


        input:-moz-placeholder {
          color: #999;
        }
        input::-webkit-input-placeholder {
          color: #999;
        }

        /* Demo 2 */
        #demo-2 input[type=search] {
          width: 15px;
          padding-left: 10px;
          color: transparent;
          cursor: pointer;
        }
        #demo-2 input[type=search]:hover {
          background-color: #fff;
        }
        #demo-2 input[type=search]:focus {
          width: 130px;
          padding-left: 32px;
          color: #000;
          background-color: #fff;
          cursor: auto;
        }
        #demo-2 input:-moz-placeholder {
          color: transparent;
        }
        #demo-2 input::-webkit-input-placeholder {
          color: transparent;
        }


</style>
    <header class="">
      <nav class="navbar navbar-expand-lg">
      <div class="container">
          <h2 class="navbar-brand" href="/"><img src="#" style="height:50px; font-weight:800;color:#f33f3f;width:auto" alt="AFRICASTOCK" ></h2>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
          <form id="demo-2">
          <input type="search" placeholder="Search">
        </form>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="/">Accueil
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/photographie">Photos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/videographie">Videos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/illustration">Illustrations</a>
              </li>
                            <li class="nav-item">
                <a class="nav-link" href="/voixOff">VoixOff</a>
              </li>
                            <li class="nav-item">
                <a class="nav-link" href="/personnalisation">Personnalisation</a>
              </li>
                <li class="nav-item active">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            
    
        
            
                      <!-- Example split danger button -->

            
        </div>
       
           {% if   app.user %}
                  <div class="btn-group btn-sm">
                <button type="button" class="btn btn-danger btn-sm ">Publier</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Images</a>
                    <a class="dropdown-item" href="#">Illustration</a>
                    <a class="dropdown-item" href="#">Videographie</a>
                    <a class="dropdown-item" href="#">VoixOff</a>
                </div>
                </div>
                 <a style="margin-left:10px" data-toggle="tooltip" title="{{app.user.username}}"  data-placement="top" href="#"><i class="fas fa-user-circle"style="heigth:36px;width:28px; font-size:30px; background-color: white; border-radius:50px"></i></ a>
        
          {% else %}
            
                <a  href="/login" id="identifie"  class="btn btn-danger btn-md " role="button" aria-pressed="true">S'identifier</a>
                
          {% endif %}
             
               
          </ul>
      </nav>
    </header>
  
<div class="page-heading contact-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>
                Nous contacter</h4>
              <h2>RAPPELONS-NOUS</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="find-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Location on Maps</h2>
            </div>
          </div>
          <div class="col-md-8">
<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->
            <div id="map">
             <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Abidjan%20cocody%20las%20palmas+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.maps.ie/draw-radius-circle-map/">Circle area map</a></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="left-content">
              <h4>About our office</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="send-message">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Send us a Message</h2>
            </div>
          </div>
          <div class="col-md-8">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-4">
            <ul class="accordion">
              <li>
                  <a>Accordion Title One</a>
                  <div class="content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti elite.</p>
                  </div>
              </li>
              <li>
                  <a>Second Title Here</a>
                  <div class="content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti elite.</p>
                  </div>
              </li>
              <li>
                  <a>Accordion Title Three</a>
                  <div class="content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti elite.</p>
                  </div>
              </li>
              <li>
                  <a>Fourth Accordion Title</a>
                  <div class="content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti elite.</p>
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br><br>

	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{asset('assets/images/contact-heading.jpg')}}" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
    <h1 style="font-size:5em">AFFICHEZ-VOUS</h1>
    <p>...</p>
  </div>
             
           
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{asset('assets/images/contact-heading.jpg')}}" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
    <h1 style="font-size:5em">AFFICHEZ-VOUS</h1>
    <p>...</p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{asset('assets/images/contact-heading.jpg')}}" alt="Third slide">
    <div class="carousel-caption d-none d-md-block">
    <h1 style="font-size:5em">AFFICHEZ-VOUS</h1>
    <p>...</p>
  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br><br>
    </div>
{{include('includes/footer.html.twig')}}
{% endblock %}
