{% extends 'base.html.twig' %}

{% block title %}Edit ArticleImg{% endblock %}

{% block body %}



<style>
.formulaire{
    margin-top:70px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width:40%;
    padding-right:55px;
    padding-left:55px;
    height:50%;  
}

</style>
{{include('includes/header.html.twig')}}
   <br>
<div class="container formulaire card">
    <h2 class="display-4">Modifier une image</h2>

    {{ include('article_img/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
     {{ include('article_img/_delete_form.html.twig') }}
</div>
    <a href="{{ path('article_img_index') }}">retour à la liste</a>



    {{ include('article_img/_delete_form.html.twig') }}

   
{% endblock %}
