{% extends 'base.html.twig' %}

{% block title %}ArticleImg index{% endblock %}

{% block body %}

<style>
.formulaire{
    margin-top:70px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width:70%;
    padding-right:55px;
    padding-left:55px;
    height:50%;  
}

</style>

{{include('includes/header.html.twig')}}
   <br>
<div class="container formulaire card">
    <h2 class="display-4">Liste des images</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Date_de_creation</th>
                <th>Auteur</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article_img in article_imgs %}
            <tr>
                <td>{{ article_img.id }}</td>
                <td><img src="/assets/uploads/images/{{article_img.filename}}"  style="width:70%;height:auto;"></td>
                <td>{{ article_img.titre }}</td>
                <td>{{ article_img.description }}</td>
                <td>{{ article_img.prix }}</td>
                <td>{{ article_img.dateDeCreation ? article_img.dateDeCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article_img.auteur }}</td>
                <td>{{ article_img.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('article_img_show', {'id': article_img.id}) }}">Voir</a>
                    <a href="{{ path('article_img_edit', {'id': article_img.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_img_new') }}">Ajouter</a>
    </div>
{% endblock %}
